@charset "UTF-8";
.c-content {
  grid-template-rows: auto 1fr auto;
}

/* Header section */
.c-header {
  font-size: 2rem;
  margin: 1rem 2rem;
}

.c-title {
  color: var(--primary);
  font-size: 5rem;
}

.c-menu {
  gap: 2rem;
}
.c-menu__item {
  font-size: 3rem;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  position: relative;
}
.c-menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: -0.5rem;
  transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;
  background: var(--secondary);
  opacity: 0;
  transform: translateY(-10px);
}
.c-menu__item:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.c-menu__item:focus {
  outline: none;
}
.c-menu__item--active {
  transition: color 200ms ease-in-out;
  color: var(--secondary);
  position: relative;
}
.c-menu__item--active:hover {
  color: var(--secondary);
}

@media screen and (max-width: 27.75rem) {
  .c-menu__item {
    font-size: 2rem;
  }

  .c-title {
    font-size: 3.5rem;
  }
}
/* Main section */
.c-main {
  background-image: linear-gradient(to bottom, transparent, var(--bg-grey) 95%), url(/images/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.c-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.c-page-title {
  margin-top: 2rem;
  line-height: 1;
  text-align: center;
}

.c-phrase {
  font-size: clamp(3rem, 1rem + 5vw, 5rem);
}
.c-phrase--big {
  font-size: clamp(6rem, 4rem + 5vw, 9rem);
}
.c-phrase--red {
  font-style: italic;
  color: var(--primary);
  text-shadow: 4px 4px var(--primary-shadow);
}

/* Footer */
.c-footer {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.c-footer__link {
  text-decoration: none;
  color: var(--primary);
}

:root {
  --white: #fff;
  --black: #000;
  --green: #1fb601;
  --bg-grey: #1a1b20;
  --secondary: #ffc743;
  --primary: #e71d36;
  --primary-shadow: #570505;
  --bg-semiblack: #00000067;
}

/* Home Page*/
.c-highlight {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0 2rem;
}
.c-highlight__item {
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border: 2px solid var(--secondary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0.5rem var(--secondary);
}
.c-highlight__img {
  border-bottom: 1px solid var(--secondary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.c-highlight__text {
  height: 100%;
  padding: 1rem;
  text-align: center;
  background: var(--bg-semiblack);
}
.c-highlight__title {
  font-size: clamp(3.5rem, 1rem + 5vw, 5rem);
  line-height: 1.25;
}
.c-highlight__desc {
  font-size: clamp(1.5rem, 0.5rem + 1.5vw, 2rem);
}

.c-contact {
  gap: 1rem;
  width: 80%;
  flex-direction: row-reverse;
}
.c-contact__info {
  font-size: 2rem;
  padding: 2rem;
  background: var(--bg-semiblack);
  border: 1px solid var(--secondary);
}
.c-contact__location, .c-contact__phone, .c-contact__mail {
  gap: 1rem;
}
.c-contact__map {
  flex: 1;
}
.c-contact__map iframe {
  width: 100%;
}

@media screen and (max-width: 60.25rem) {
  .c-contact {
    width: 80%;
    flex-direction: column;
  }
}
@media screen and (max-width: 27.75rem) {
  .c-contact {
    width: 70%;
  }
}
.c-icon {
  color: var(--primary);
}

.c-store {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 80%;
  margin: 0 2rem;
}

.c-product {
  grid-template-rows: auto 1fr;
  padding: 2rem;
  gap: 1rem;
  font-size: 2rem;
  background: var(--white);
  border: 2px solid var(--secondary);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 0.5rem var(--secondary);
}
.c-product__image {
  width: 30rem;
  height: 20rem;
  margin: 0 auto;
  object-fit: cover;
  background: var(--white);
}
.c-product__info {
  align-items: flex-end;
  color: var(--black);
  text-align: center;
}
.c-product__title {
  font-size: 3rem;
}
.c-product__price {
  color: var(--primary);
  font-weight: 600;
}
.c-product__availability--available::before {
  margin-right: 0.5rem;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  color: var(--green);
}
.c-product__availability--unavailable::before {
  margin-right: 0.5rem;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  color: var(--primary);
}

:root {
  --white: #fff;
  --black: #000;
  --green: #1fb601;
  --bg-grey: #1a1b20;
  --secondary: #ffc743;
  --primary: #e71d36;
  --primary-shadow: #570505;
  --bg-semiblack: #00000067;
}

/* Layout class styles */
.l-flex {
  display: flex;
}

.l-grid {
  display: grid;
}

.l-flex-1 {
  flex: 1;
}

.l-ai-center {
  align-items: center;
}

.l-jc-sa {
  justify-content: space-around;
}

.l-ai-bline {
  align-items: baseline;
}

/* Global styles */
html {
  font-family: "Chewy", cursive;
  font-size: 62.5%;
}

body {
  color: var(--white);
  background: var(--bg-grey);
}

a {
  text-decoration: none;
  color: var(--white);
}

.fadeInAnim {
  animation: fadeIn 200ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
