/* Layout class styles */

.l-flex {
  display: flex;
}

.l-grid {
  display: grid;
}

.l-flex-1 {
  flex: 1;
}

.l-ai-center {
  align-items: center;
}

.l-jc-sa {
  justify-content: space-around;
}
