:root {
  --white: #fff;
  --black: #000;
  --green: #1fb601;
  --bg-grey: #1a1b20;
  --secondary: #ffc743;
  --primary: #e71d36;
  --primary-shadow: #570505;
  --bg-semiblack: #00000067;
}

$item-border-radius: 1rem;
