@import 'initial', 'home', 'contact', 'store', 'variables', 'mixins', 'layouts';

/* Global styles */

html {
  font-family: 'Chewy', cursive;
  font-size: 62.5%;
}

body {
  color: var(--white);
  background: var(--bg-grey);
}

a {
  text-decoration: none;
  color: var(--white);
}

.fadeInAnim {
  animation: fadeIn 200ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
